.env
venv/
.venv/
__pycache__/
*/__pycache__/
.DS_Store
modules/__pycache__/
*.db
*.json
logs/
data.txt
plot-door.png
userdata/*
out.csv
modules/main/aihelper/models/alpaca/pytorch_model.bin
privacy_log.txt
musicgen-small/

!lib/data/monster/monster_verlauf.json
tests/emailtest.py