.env
venv/
.venv/
__pycache__/
*/__pycache__/
.DS_Store
modules/__pycache__/
logs/
usercache.json
userdata.json
data.txt
plot-door.png
lock-log.txt
users.db
userdata/*
out.csv
old_users.db
schulden.db
modules/main/aihelper/models/alpaca/pytorch_model.bin
user_activities.db
privacy_log.txt
*.db
musicgen-small/
*.json
!lib/data/monster/monster_verlauf.json
!lib/data/lock/lock-log.json
!lib/data/lock/lock-log.txt
tests/emailtest.py